openapi: 3.0.1
info:
  title: Partner Content API
  version: 0.1.17
servers:
- url: https://partner-content-api.epidemicsound.com
  description: Epidemic Sound Content API
tags:
- name: Authentication
  description: Endpoints for user authentication.
- name: Browse & search
  description: These endpoints will allow you to explore the Epidemic Sound library. You can display tracks grouped in curated playlists, moods or genres or use search to get tracks by any term.
- name: Tracks
  description: Endpoints to get track specific information.
- name: Sound effects
  description: Endpoints to get sound effect specific information. These endpoints allow you to build a UI to browse and search for sound effects.
- name: Reporting
  description: These endpoints will allow you to report how tracks are used in your application.
- name: Users
  description: These endpoints allows your application to get user specific information such as liked sounds.
- name: Assets
  description: These endpoints allows your application to upload assets such as images or audio.
- name: Beta
  description: These endpoints are in beta.
- name: Safelisting
  description: Endpoints for managing safelisting licenses. Allows partners to create, list, update, and delete licenses for channels and videos on behalf of their end users.
paths:
  /v0/collections:
    get:
      tags:
      - Browse & search
      summary: List collections
      description: 'The collections endpoint returns playlists curated by our team of in-house experts.


        We offer collections for any occasion: from holidays like "Día de Muertos" to content types like "Real Estate" or "Badass ads".


        You can manage the order and which collections are part or your applications'' free tier via the developer portal. As default, we return the collections included in your free tier first, followed by all collections in the Epidemic Sound library.


        Collections have attributes like title and cover art. In the few cases where we do not have cover art for a collection we return a default image.


        You can choose to return collections with or without tracks. The response will include a maximum of 20 tracks per collection. If a collection contains more than 20 tracks use endpoint ''/collections/{collectionId}'' to get all tracks.'
      operationId: GET_Collections
      parameters:
      - $ref: '#/components/parameters/excludeField'
      - name: limit
        in: query
        description: Max number of entries returned in the response, default 10 and max 20
        required: false
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionsPaginatedResponse'
              example:
                collections:
                - id: 4caef099-43bd-4653-8203-3086fa01d3b7
                  name: Happy
                  tracks:
                  - id: 6rUPerw2po
                    mainArtists:
                    - Main Artist
                    featuredArtists:
                    - Featured Artist
                    title: Happy Song
                    bpm: 135
                    length: 3123
                    moods:
                    - id: happy
                      name: Happy
                    - id: eccentric
                      name: Eccentric
                    genres:
                    - id: beats
                      name: Beats
                      parent:
                        id: parent
                        name: Parent Beats
                    - id: trap
                      name: Trap
                    images:
                      default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  availableTracks: 1
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/128x128.jpg
                - id: 9917d694-511b-4b66-ab8a-c553660399e4
                  name: Sad
                  tracks:
                  - id: 0dZCtol3bs
                    mainArtists:
                    - Main Artist
                    featuredArtists:
                    - Featured Artist
                    title: Sad Song
                    bpm: 97
                    length: 2976
                    moods:
                    - id: happy
                      name: Happy
                    - id: eccentric
                      name: Eccentric
                    genres:
                    - id: beats
                      name: Beats
                      parent:
                        id: parent
                        name: Parent Beats
                    - id: trap
                      name: Trap
                    images:
                      default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  availableTracks: 1
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/128x128.jpg
                pagination:
                  page: 3
                  limit: 20
                  offset: 40
                links:
                  next: /v0/collections?limit=20&offset=60
                  prev: /v0/collections?limit=20&offset=20
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/collections/{collectionId}:
    get:
      tags:
      - Browse & search
      summary: Collection details
      description: The collections endpoint allows you to list all the tracks in a specific collection.
      operationId: GET_Collection
      parameters:
      - $ref: '#/components/parameters/collectionId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionPaginatedResponse'
              example:
                id: f10e65eb-9998-4c41-9777-ac9183ab85dd
                name: Happy
                tracks:
                - id: 6rUPerw2po
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Happy Song
                  bpm: 135
                  length: 3123
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                availableTracks: 1
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: /v0/collections/f10e65eb-9998-4c41-9777-ac9183ab85dd?limit=20&offset=80
                  prev: /v0/collections/f10e65eb-9998-4c41-9777-ac9183ab85dd?limit=20&offset=40
                images:
                  default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                  L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/1050x1050.jpg
                  M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/600x600.jpg
                  S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/300x300.jpg
                  XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/default/128x128.jpg
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Collection was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Collection was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/sound-effects/collections:
    get:
      tags:
      - Sound effects
      summary: List sound-effect collections
      description: 'Returns the sound-effect collections active for your application.


        Sound-effect collections are managed via the developer portal: an admin imports an EMS

        playlist into a collection, and end users see only Active collections through this endpoint.


        Every application has access to every sound effect, so there is no per-tier cap and no

        paid/free distinction. Up to 20 sound effects per collection are included by default;

        pass `excludeField=soundEffects` to omit them, or paginate the full set via

        `/sound-effects/collections/{collectionId}`.'
      operationId: GET_Sound_Effect_Collections
      parameters:
      - name: excludeField
        in: query
        description: Pass `soundEffects` to omit sound-effect data from the response and return only collection metadata.
        required: false
        schema:
          type: string
          enum:
          - soundEffects
      - name: limit
        in: query
        description: Max number of collections returned in the response, default 10 and max 20
        required: false
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Sound-effect collections response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundEffectCollectionsPaginatedResponse'
              example:
                collections:
                - id: 4caef099-43bd-4653-8203-3086fa01d3b7
                  name: Crowd & Applause
                  soundEffects:
                  - id: 4bd22142-d121-4bab-89d7-bd0945fd3b24
                    title: Applause
                    added: '2026-05-11T07:45:47.571914418Z'
                    length: 10
                    images:
                      default: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                      L: https://image.url?w=1050&h=1050&fit=fill&q=90&fm=jpg
                      M: https://image.url?w=600&h=600&fit=fill&q=90&fm=jpg
                      S: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                      XS: https://image.url?w=128&h=128&fit=fill&q=90&fm=jpg
                  availableSoundEffects: 1
                pagination:
                  page: 1
                  limit: 10
                  offset: 0
                links:
                  next: /v0/sound-effects/collections?limit=10&offset=10
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/sound-effects/collections/{collectionId}:
    get:
      tags:
      - Sound effects
      summary: Sound-effect collection details
      description: Returns a single sound-effect collection along with a paginated set of its sound effects. Use `limit` and `offset` to page through the collection.
      operationId: GET_Sound_Effect_Collection
      parameters:
      - $ref: '#/components/parameters/collectionId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Sound-effect collection response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundEffectCollectionPaginatedResponse'
              example:
                id: f10e65eb-9998-4c41-9777-ac9183ab85dd
                name: Crowd & Applause
                soundEffects:
                - id: a66c413e-7d9d-4916-9d69-993ac782cf79
                  title: Applause
                  added: '2026-05-11T07:45:47.573735118Z'
                  length: 10
                  images:
                    default: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                    L: https://image.url?w=1050&h=1050&fit=fill&q=90&fm=jpg
                    M: https://image.url?w=600&h=600&fit=fill&q=90&fm=jpg
                    S: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                    XS: https://image.url?w=128&h=128&fit=fill&q=90&fm=jpg
                availableSoundEffects: 1
                pagination:
                  page: 1
                  limit: 50
                  offset: 0
                links: {}
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Sound-effect collection was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Collection was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks:
    get:
      tags:
      - Tracks
      summary: List tracks based on mood, genre or BPM
      description: The tracks endpoint allows you to list all tracks based on a specified mood, genre or BPM.
      operationId: GET_Tracks
      parameters:
      - $ref: '#/components/parameters/genre'
      - $ref: '#/components/parameters/mood'
      - $ref: '#/components/parameters/bpmMin'
      - $ref: '#/components/parameters/bpmMax'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Tracks response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
              example:
                tracks:
                - id: 6rUPerw2po
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Happy Song
                  bpm: 135
                  length: 3123
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                - id: 0dZCtol3bs
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Sad Song
                  bpm: 97
                  length: 2976
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: /v0/tracks?limit=20&offset=80
                  prev: /v0/tracks?limit=20&offset=40
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/metadata:
    get:
      tags:
      - Tracks
      summary: Tracks metadata
      description: The metadata endpoint allows you to get metadata for a list of tracks.
      operationId: GET_Tracks_Metadata
      parameters:
      - name: trackId
        in: query
        description: List of track ids
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Tracks response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrackResponse'
              example:
              - id: 6rUPerw2po
                mainArtists:
                - Main Artist
                featuredArtists:
                - Featured Artist
                title: Happy Song
                bpm: 135
                length: 3123
                moods:
                - id: happy
                  name: Happy
                - id: eccentric
                  name: Eccentric
                genres:
                - id: beats
                  name: Beats
                  parent:
                    id: parent
                    name: Parent Beats
                - id: trap
                  name: Trap
                images:
                  default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                  L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                  M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                  S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                  XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                hasVocals: true
                added: '2020-10-10'
                isExplicit: false
                isPreviewOnly: true
              - id: 0dZCtol3bs
                mainArtists:
                - Main Artist
                featuredArtists:
                - Featured Artist
                title: Sad Song
                bpm: 97
                length: 2976
                moods:
                - id: happy
                  name: Happy
                - id: eccentric
                  name: Eccentric
                genres:
                - id: beats
                  name: Beats
                  parent:
                    id: parent
                    name: Parent Beats
                - id: trap
                  name: Trap
                images:
                  default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                  L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                  M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                  S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                  XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                hasVocals: true
                added: '2020-10-10'
                isExplicit: false
                isPreviewOnly: true
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/search:
    get:
      tags:
      - Browse & search
      summary: Search music
      description: The search endpoint allows your users to search the entire Epidemic Sound library. Search indexes track attributes such as moods, genres, artist, song title and bpm.
      operationId: GET_Tracks_Search
      parameters:
      - $ref: '#/components/parameters/offset'
      - name: limit
        in: query
        description: Max number of entries returned in the response, default 50 and max 60
        required: false
      - $ref: '#/components/parameters/term'
      - $ref: '#/components/parameters/genre'
      - $ref: '#/components/parameters/mood'
      - $ref: '#/components/parameters/bpmMin'
      - $ref: '#/components/parameters/bpmMax'
      - name: sort
        in: query
        description: Sort for search
        required: false
        schema:
          type: string
          enum:
          - Title
          - Relevance
          - Date
          - Popularity
          - Duration
          - BPM
          default: Relevance
      - name: order
        in: query
        description: Order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      responses:
        '200':
          description: Tracks response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
              example:
                tracks:
                - id: 6rUPerw2po
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Happy Song
                  bpm: 135
                  length: 3123
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                - id: 0dZCtol3bs
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Sad Song
                  bpm: 97
                  length: 2976
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                pagination:
                  page: 2
                  limit: 25
                  offset: 25
                links:
                  next: /tracks/search?limit=25&offset=50
                  prev: /tracks/search?limit=25&offset=0
                aggregations:
                  moods:
                  - id: energetic
                    name: Energetic
                    count: 1
                  genres:
                  - id: rock
                    name: Rock
                    count: 1
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '403':
          description: Forbidden. Only available for ES Connect tokens or User tokens when the app allows to preview tracks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Forbidden
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Service unavailable
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/search/suggestions:
    get:
      tags:
      - Browse & search
      summary: Search autosuggest
      description: 'The search suggestions endpoint allows your users to get autocomplete suggestions for Epidemic Sound music or external provider music search.


        Returns:

        - value: The exact search term to pass to the /tracks/search endpoint.

        - title: Display text to show users in the autocomplete UI.

        - type - Indicates whether this is a search term of type text or external reference URI (e.g., Spotify track).


        Usage: When a user selects a suggestion, use the ''value'' field as the ''term'' parameter when calling /tracks/search to get matching tracks.'
      operationId: GET_Tracks_Search_suggestions
      parameters:
      - $ref: '#/components/parameters/term'
      responses:
        '200':
          description: Tracks Search Suggestions response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSuggestionsResponse'
              example:
                suggestions:
                - value: rock
                  title: rock
                  type: TEXT
                - value: rocker
                  title: rocker
                  type: TEXT
                - value: https://open.spotify.com/track/12345
                  title: rocker
                  type: EXTERNAL_SPOTIFY
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '403':
          description: Forbidden. Only available for ES Connect tokens or User tokens when the app allows to preview tracks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Forbidden
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Service unavailable
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/parameters:
    get:
      tags:
      - Tracks
      summary: List track parameters
      description: Get a list of possible track query parameters
      operationId: GET_Track_Parameters
      responses:
        '200':
          description: Track parameters response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackParametersResponse'
              example:
                genres:
                - id: rock
                  name: Rock
                  parent:
                    id: rock-parent
                    name: Rock Parent
                - id: rock-parent
                  name: Rock Parent
                - id: skate-punk
                  name: Skate-Punk
                moods:
                - id: energetic
                  name: Energetic
                - id: happy
                  name: Happy
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/moods:
    get:
      tags:
      - Browse & search
      summary: List moods
      description: 'The moods endpoint allows your users to browse the music catalog based on moods like happy, epic or relaxing. Moods have cover art that you can show in your interface.


        By specifying the "type" of moods you want to display, you can choose to show all moods in the Epidemic Sound library, only the moods that are featured on epidemicsound.com or only the moods that are available for your free tier tracks.'
      operationId: GET_All_Moods
      parameters:
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/type'
      - name: limit
        in: query
        description: Max number of entries returned in the response, default 20 and max 20
        required: false
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Track moods response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodsPaginatedResponseWithImages'
              example:
                moods:
                - id: energetic
                  name: Epic
                  images:
                    default: https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=300&h=300&fit=fill&q=90&fm=jpg
                    L: https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=1050&h=1050&fit=fill&q=90&fm=jpg
                    M: https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=600&h=600&fit=fill&q=90&fm=jpg
                    S: https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=300&h=300&fit=fill&q=90&fm=jpg
                    XS: https://images.ctfassets.net/ojtnytzl1djm/3IWOMuMQtqXI01euQ43r6d/19761430ed16d9d35b94b71cb4693c80/Epic.jpg?w=128&h=128&fit=fill&q=90&fm=jpg
                - id: happy
                  name: Happy
                  images:
                    default: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=300&h=300&fit=fill&q=90&fm=jpg
                    L: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=1050&h=1050&fit=fill&q=90&fm=jpg
                    M: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=600&h=600&fit=fill&q=90&fm=jpg
                    S: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=300&h=300&fit=fill&q=90&fm=jpg
                    XS: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=128&h=128&fit=fill&q=90&fm=jpg
                pagination:
                  page: 1
                  limit: 20
                  offset: 0
                links: {}
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/moods/{moodId}:
    get:
      tags:
      - Browse & search
      summary: Mood details
      description: Get mood details
      operationId: GET_Mood_details
      parameters:
      - $ref: '#/components/parameters/moodId'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Track mood response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoodResponseWithImages'
              example:
                id: happy
                name: Happy
                images:
                  default: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=300&h=300&fit=fill&q=90&fm=jpg
                  L: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=1050&h=1050&fit=fill&q=90&fm=jpg
                  M: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=600&h=600&fit=fill&q=90&fm=jpg
                  S: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=300&h=300&fit=fill&q=90&fm=jpg
                  XS: https://images.ctfassets.net/ojtnytzl1djm/2u0eIu3GfevvONKEVc0NEi/f0db82add464ad37ec90406c8ab7cab1/Happy.png?w=128&h=128&fit=fill&q=90&fm=jpg
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '404':
          description: Mood was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Mood was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/genres:
    get:
      tags:
      - Browse & search
      summary: List genres
      description: "The genres endpoint allows your users to browse the music catalog based on genres like rock, hiphop or acoustic. \n\nGenres are nested and both parent and child genres are returned in the response. Parent genres have cover art that you can show in your interface.\n\nBy specifying the \"type\" of genres you want to display, you can choose to show all genres in the Epidemic Sound library, only the genres that are featured on epidemicsound.com or only the genres that are available for your free tier tracks."
      operationId: GET_All_Genres
      parameters:
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/type'
      - name: limit
        in: query
        description: Max number of entries returned in the response, default 20 and max 20
        required: false
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Track genres response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenresWithImagesPaginatedResponse'
              example:
                genres:
                - id: beats
                  name: Beats
                  images:
                    default: https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=300&h=300&fit=fill&q=90&fm=jpg
                    L: https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=1050&h=1050&fit=fill&q=90&fm=jpg
                    M: https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=600&h=600&fit=fill&q=90&fm=jpg
                    S: https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=300&h=300&fit=fill&q=90&fm=jpg
                    XS: https://images.ctfassets.net/ojtnytzl1djm/4Mm4kJ9nwasLwZpQ54472a/90f35901413025d5a627fa132f6c2b56/Beats.jpg?w=128&h=128&fit=fill&q=90&fm=jpg
                pagination:
                  page: 1
                  limit: 20
                  offset: 0
                links: {}
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/genres/{genreId}:
    get:
      tags:
      - Browse & search
      summary: Genre details
      description: This endpoint gives you the parent and child relationships of a specific genre as well as all tracks that belong to it.
      operationId: GET_Genre_details
      parameters:
      - $ref: '#/components/parameters/genreId'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Track genre response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreResponseWithChildren'
              example:
                id: parent-beats
                name: Parent Beats
                children:
                - id: true-beats
                  name: True Beats
                  parent:
                    id: parent-beats
                    name: Parent Beats
                tracks:
                  tracks:
                  - id: 6rUPerw2po
                    mainArtists:
                    - Main Artist
                    featuredArtists:
                    - Featured Artist
                    title: Happy Song
                    bpm: 135
                    length: 3123
                    moods:
                    - id: happy
                      name: Happy
                    - id: eccentric
                      name: Eccentric
                    genres:
                    - id: parent-beats
                      name: Beats
                      parent:
                        id: parent
                        name: Parent Beats
                    - id: trap
                      name: Trap
                    images:
                      default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  pagination:
                    page: 2
                    limit: 25
                    offset: 25
                  links:
                    next: v0/genres/{genreId}?limit=25&offset=50
                    prev: v0/genres/{genreId}?limit=25&offset=0
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '404':
          description: Genre was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Genre was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/{trackId}/download:
    get:
      tags:
      - Tracks
      summary: Download track
      description: "The download endpoint allows you to download an MP3 file of the track. \n\nWe offer MP3 files in two qualities; normal (128kbps) and high (320kbps).\n\nThe high quality files can be used in content when needed, but normal quality is sufficient for most use cases. \n\nThe download links expire after 24 hours (normal quality) or 1 hour (high quality files). The expiration time is stated in the response. \n\nAll users can download the tracks that are part of the free tier. Only connected users with an active Epidemic Sound subscription can download tracks that are part of the premium library. If a user does not have access to download a track, you will get an error response. You can proactively mark premium tracks in your UI by using the track attribute `isPreviewOnly` (see track attributes)."
      operationId: GET_Download
      parameters:
      - $ref: '#/components/parameters/trackId'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/quality'
      responses:
        '200':
          description: Information about download url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
              example:
                url: https://pdn.epidemicsound.com/ES_ITUNES/Happy_Song/ES_Happy_Song.mp3
                expires: '2022-12-22T11:01:48Z'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '403':
          description: User does not have access to download the track.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: User does not have access to download the track
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/{trackId}/beats:
    get:
      tags:
      - Beta
      summary: Beats
      description: "The beats endpoint provides information about the timestamps of beats in a track. You can use this endpoint to simplify the process to cut the video in sync with the music.\n\nUnlike BPM which is a single number for the entire track, beats can change dynamically across a music piece. This is particularly valuable for capturing variations in tempo, such as a slower intro, a build-up with faster beats, or changes in rhythm throughout the composition.\n\nThe response includes two types of metadata:  `time` and `value`. \n\n`time` represents the timestamp of the beat in seconds. `value` indicates the beat's position in a bar (or measure in the US), where 1 corresponds to the first beat (downbeat).\n\nExamples:\n\nMost pop songs have four beats in a bar. For example, if we looked at the beats data for Coolio's `1, 2, 3, 4` it would look something like:  1-2-3-4, 1-2-3-4\n\nHowever, a waltz has three beats in a bar, and the data would look something like: 1-2-3, 1-2-3\n\nUsage\
        \ Scenarios:\n\n* Automatically cut a video in sync with the beat\n\n* Adding snap markers aligned with beat timestamps in the UI."
      operationId: GET_Track_Beats
      parameters:
      - $ref: '#/components/parameters/trackId'
      responses:
        '200':
          description: Beats response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackBeatsResponse'
              example:
                beats:
                - time: 0.0
                  value: 1.0
                - time: 0.62
                  value: 2.0
                - time: 1.2
                  value: 3.0
                - time: 1.8
                  value: 4.0
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
        '403':
          description: User does not have access to download the track.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: User does not have access to download the track
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/{trackId}/hls:
    get:
      tags:
      - Tracks
      summary: Preview track using cookies
      description: "We recommend using HLS to allow users to play/preview a track. The main benefits of this compared to MP3 are smaller file transfers and alternate qualities, allowing the HLS client library to switch to a lower quality when necessary. \n\nThe audio is encoded using the AAC coding standard, which results in a smaller footprint for a similar quality compared to MP3. The primary manifest refers to two variant quality streams. HLS client libraries typically choose the optimal quality automatically, based on download speed.\n\nThe format consists of audio files split into smaller chunks and manifests that refer to these audio files. Since the format is made up of multiple files, access to these are controlled using cookies.\n\nWe provide an example app for iOS that plays HLS streams. Users do not need to connect their account or have an active Epidemic Sound subscription to play any track using HLS streaming. That allows your users to listen to all tracks before they connect\
        \ their account."
      operationId: GET_HLS_Download_Data
      parameters:
      - $ref: '#/components/parameters/trackId'
      responses:
        '200':
          description: HLS download details for the track
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HLSDownloadResponse'
              example:
                url: https://hls-storage.epidemicsite.com/hls/v1/q4MImKW47D/daefecd205c01496b42ae6950c446c6e/master.m3u8
                cookie:
                  name: Cloud-CDN-Cookie
                  domain: hls-storage.epidemicsite.com
                  path: /
                  value: URLPrefix=aHR0cHM6Ly9obHMtaW52ZXN0aWdhdGlvbi5lcGlkZW1pY3NpdGUuY29tL2hscy92MS9xNE1JbUtXNDdEL2RhZWZlY2QyMDVjMDE0OTZiNDJhZTY5NTBjNDQ2YzZlLw==:Expires=1638185196:KeyName=KeyName:Signature=S0QZ20ijEWKA-w9B9MycB0yTca0=
                  expires: '2021-11-29T11:26:36Z'
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/{trackId}/similar:
    get:
      tags:
      - Tracks
      summary: Similar tracks
      description: 'The similar tracks endpoint allows developers to retrieve a list of tracks that are similar to a given reference track. This feature is designed to help users discover tracks that share similar characteristics, such as genre, mood, tempo, and more.

        This endpoint helps your users replace tracks that don''t fit perfectly or discover multiple alternatives to a track they enjoy.'
      operationId: GET_Similar_tracks
      parameters:
      - $ref: '#/components/parameters/trackId'
      - $ref: '#/components/parameters/offset'
      - name: limit
        in: query
        description: Max number of entries returned in the response, default 50 and max 60
        required: false
      responses:
        '200':
          description: Paginated list of similar tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
              example:
                tracks:
                - id: 6rUPerw2po
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Happy Song
                  bpm: 135
                  length: 3123
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                - id: 0dZCtol3bs
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Sad Song
                  bpm: 97
                  length: 2976
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: /v0/tracks?limit=20&offset=80
                  prev: /v0/tracks?limit=20&offset=40
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/similar-sections:
    get:
      tags:
      - Tracks
      summary: Similar track segment based on audio file
      description: Returns a list of track sections that are matched to the provided audio file id.
      operationId: GET_Similar_Audio_Match_Section_tracks
      parameters:
      - name: audioUploadId
        in: query
        description: Reference to the uploaded audio file
        required: true
        schema:
          type: string
          format: uuid
      - name: start
        in: query
        description: Start of the section in milliseconds
        required: true
        schema:
          type: integer
          format: int32
      - name: end
        in: query
        description: End of the section in milliseconds
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated list of similar tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackSectionPaginatedResponse'
              example:
                trackSections:
                - track:
                    id: 0dZCtol3bs
                    mainArtists:
                    - Main Artist
                    featuredArtists:
                    - Featured Artist
                    title: Sad Song
                    bpm: 97
                    length: 2976
                    moods:
                    - id: happy
                      name: Happy
                    - id: eccentric
                      name: Eccentric
                    genres:
                    - id: beats
                      name: Beats
                      parent:
                        id: parent
                        name: Parent Beats
                    - id: trap
                      name: Trap
                    images:
                      default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  start: 0
                  end: 10000
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: /v0/tracks/similar-sections?audioUploadId=ca90c41b-d879-4dc0-82a5-8d3755203eb1&limit=20&offset=80&start=0&end=10000
                  prev: /v0/tracks/similar-sections?audioUploadId=410fc3f9-94f2-4039-87c7-497e694cda68&limit=20&offset=40&start=0&end=10000
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/{trackId}/similar-sections:
    get:
      tags:
      - Tracks
      summary: Similar track segment based on trackID
      description: "The similar segments endpoint allows developers to use part of a track as a reference to search for music segments in the Epidemic Sound catalog that sound similar.\n\nThe feature utilizes the Epidemic Audio Reference (EAR) technology to provide users with the ability to quickly find alternative segments of music.\n\nUsage Scenarios:\n\n  * Video Editing Templates: Replace default tracks in video templates with segments that fit better.\n  * Quick Swaps: Swap out a segment of music in a video where the existing track doesn't quite match.\n  * Creative Iteration: Easily experiment with different music segments to enhance your video's impact."
      operationId: GET_Similar_Section_tracks
      parameters:
      - $ref: '#/components/parameters/trackId'
      - name: start
        in: query
        description: Start of the section in milliseconds
        required: true
        schema:
          type: integer
          format: int32
      - name: end
        in: query
        description: End of the section in milliseconds
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Paginated list of similar tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackSectionPaginatedResponse'
              example:
                trackSections:
                - track:
                    id: 0dZCtol3bs
                    mainArtists:
                    - Main Artist
                    featuredArtists:
                    - Featured Artist
                    title: Sad Song
                    bpm: 97
                    length: 2976
                    moods:
                    - id: happy
                      name: Happy
                    - id: eccentric
                      name: Eccentric
                    genres:
                    - id: beats
                      name: Beats
                      parent:
                        id: parent
                        name: Parent Beats
                    - id: trap
                      name: Trap
                    images:
                      default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                      M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                      S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                      XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                    waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                    hasVocals: true
                    added: '2020-10-10'
                    isExplicit: false
                    isPreviewOnly: true
                  start: 0
                  end: 10000
                pagination:
                  page: 4
                  limit: 20
                  offset: 60
                links:
                  next: /v0/tracks/trackId/similar-sections?limit=20&offset=80&start=0&end=10000
                  prev: /v0/tracks/trackId/similar-sections?limit=20&offset=40&start=0&end=10000
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/{trackId}/stream:
    get:
      tags:
      - Tracks
      summary: Preview track
      description: "We recommend using HLS to allow users to play/preview a track. The main benefits of this compared to MP3 are smaller file transfers and alternate qualities, allowing the HLS client library to switch to a lower quality when necessary. \n\nThe audio is encoded using the AAC coding standard, which results in a smaller footprint for a similar quality compared to MP3. The primary manifest refers to two variant quality streams. HLS client libraries typically choose the optimal quality automatically, based on download speed.\n\nThe format consists of audio files split into smaller chunks and manifests that refer to these audio files.\n\nWe provide an example app for iOS that plays HLS streams. Users do not need to connect their account or have an active Epidemic Sound subscription to play any track using HLS streaming. That allows your users to listen to all tracks before they connect their account."
      operationId: GET_Stream
      parameters:
      - $ref: '#/components/parameters/trackId'
      responses:
        '200':
          description: Information about the stream url
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
              example:
                url: https://hls-storage.epidemicsite.com/hls/v1/q4MImKW47D/daefecd205c01496b42ae6950c446c6e/master.m3u8
                expires: '2022-12-22T11:01:48Z'
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/{trackId}/highlights:
    get:
      tags:
      - Tracks
      summary: Popular segment
      description: 'Powered by our 2 billion daily streams on YouTube, the popular segments endpoint uses machine learning to recommend the best time section.


        You can use popular segments to start playing the track from the right millisecond, or recommend the right part of the track for shorter content.


        The popular segments endpoint provides start and stop timestamps in milliseconds. The default duration is 30 seconds.


        The endpoint accepts up to 5 different durations per request where each duration must be at least 5 seconds and at most 60 seconds.'
      operationId: GET_Highlights_Details
      parameters:
      - $ref: '#/components/parameters/trackId'
      - $ref: '#/components/parameters/duration'
      responses:
        '200':
          description: List of highlighted sections for the track. The times are given in milliseconds. If there is no available highlight, a fallback to the first section of the track is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighlightsResponse'
              example:
                highlights:
                - from: 9000
                  to: 39000
                  duration: 30
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Track was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Track was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/uploads/audio/{checksum}:
    get:
      tags:
      - Assets
      summary: Get audio by checksum
      description: Will return the audio id of an audio file uploaded by the partner, matched by checksum. Should be used to avoid duplicate uploads
      operationId: GET_Partner_Audio_By_Checksum
      parameters:
      - $ref: '#/components/parameters/checksum'
      responses:
        '200':
          description: Partner audio response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAudioResponse'
              example:
                audioUploadId: d99319b0-5b28-445a-a337-baa82df25394
                length: 10.0
                expires: '2026-06-10T07:45:47.611686848Z'
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Audio file was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Audio was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
      - PartnerAuth: []
  /v0/uploads/audio/{audioIdOrChecksum}:
    delete:
      tags:
      - Assets
      summary: Delete audio
      description: Use the delete audio endpoint to delete an audio file.
      operationId: DELETE_Partner_audio
      parameters:
      - $ref: '#/components/parameters/audioIdOrChecksum'
      responses:
        '200':
          description: List of deleted audio ids
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAudioDeleteResponse'
              example:
                audioFilesRemoved:
                - a9acf7c6-5d1f-4e9c-8f74-14390c3f3bbe
        '202':
          description: List of audio files marked for deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAudioDeleteResponse'
              example:
                audioFilesRemoved:
                - 7e1745a6-5ac9-4716-a362-7f9e430c4df8
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
      security:
      - PartnerAuth: []
      - ApiKeyAuth: []
  /v0/uploads/audio:
    post:
      tags:
      - Assets
      summary: Upload audio
      description: "Upload an audio file to get recommendations of similar tracks in the Epidemic Sound library. When you post the audio file to this endpoint, you will receive an AudioID in return. Use this AudioID in a request to the similar tracks endpoint to get track recommendations.\n \n We currently support the formats: mp3, mpeg, ogg and vorbis. Maximum file size is 3.5MB. You can only upload music with the partner token, since we currently do not allow end users to use this feature."
      operationId: POST_Upload_Partner_Audio
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Returns the id of the uploaded audio, as well as the expiration date for the audio.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUserImageResponse'
              example:
                imageId: 2f0f5883-5b03-4663-a703-9142a531443d
                expirationDate: '2026-05-12T07:45:47.615665317Z'
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
      security:
      - PartnerAuth: []
      - ApiKeyAuth: []
  /v0/uploads/images/{imageId}:
    delete:
      tags:
      - Assets
      summary: Delete single image
      description: Use the delete image endpoint to delete a single image uploaded by a user
      operationId: DELETE_User_Image
      parameters:
      - $ref: '#/components/parameters/imageId'
      responses:
        '204':
          description: Image was deleted
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Image was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Image was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/uploads/images:
    post:
      tags:
      - Assets
      summary: Upload image
      description: "Upload an image from the user's video to get recommendations of tracks in the Epidemic Sound library that would work for the video. When you post the image to this endpoint, you will receive an ImageID in return. Use this ImageID in a request to the matching image endpoint to get track recommendations.\n \n We currently support jpeg format and maximum file size is 2MB."
      operationId: POST_Upload_User_Image
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Contains id to be used for endpoints requiring an image id, as well as the expiration date for the image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUserImageResponse'
              example:
                imageId: be4f3072-62f8-49c2-9904-0c99fb87a111
                expirationDate: '2026-05-12T07:45:47.618440808Z'
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
    delete:
      tags:
      - Assets
      summary: Delete all the uploaded images by the user
      description: Deletes all images uploaded by the user
      operationId: DELETE_User_Images
      responses:
        '202':
          description: Images were marked for deletion
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/tracks/matching-image/{imageId}:
    get:
      tags:
      - Tracks
      summary: Tracks based on image
      description: "Upload an image from the user's video to get recommendations of tracks in the Epidemic Sound library that would work for the video. Use ImageID retrieved from the Upload Image endpoint to fetch the recommended tracks.\n "
      operationId: GET_Tracks_Matching_Image
      parameters:
      - $ref: '#/components/parameters/imageId'
      - $ref: '#/components/parameters/offset'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/genre'
      - $ref: '#/components/parameters/mood'
      responses:
        '200':
          description: Paginated list of tracks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracksResponse'
              example:
                tracks:
                - id: 6rUPerw2po
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Happy Song
                  bpm: 135
                  length: 3123
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                - id: 0dZCtol3bs
                  mainArtists:
                  - Main Artist
                  featuredArtists:
                  - Featured Artist
                  title: Sad Song
                  bpm: 97
                  length: 2976
                  moods:
                  - id: happy
                    name: Happy
                  - id: eccentric
                    name: Eccentric
                  genres:
                  - id: beats
                    name: Beats
                    parent:
                      id: parent
                      name: Parent Beats
                  - id: trap
                    name: Trap
                  images:
                    default: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    L: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/1050x1050.jpg
                    M: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/600x600.jpg
                    S: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/300x300.jpg
                    XS: https://cdn.epidemicsound.com/curation-assets/commercial-release-cover-images/123456/128x128.jpg
                  waveformUrl: https://pdn.epidemicsound.com/waveforms/1600/394079.json
                  hasVocals: true
                  added: '2020-10-10'
                  isExplicit: false
                  isPreviewOnly: true
                pagination:
                  page: 2
                  limit: 25
                  offset: 25
                links:
                  next: /tracks/search?limit=25&offset=50
                  prev: /tracks/search?limit=25&offset=0
                aggregations:
                  moods:
                  - id: energetic
                    name: Energetic
                    count: 1
                  genres:
                  - id: rock
                    name: Rock
                    count: 1
        '401':
          description: Unauthorized. Most likely your access token has expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Invalid credentials
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Rate limit exceeded
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Bad request
        '404':
          description: Image was not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                message: Image was not found
      security:
      - UserAuth: []
      - EpidemicSoundConnectAuth: []
      - ApiKeyAuth: []
  /v0/sound-effects/categories:
    get:
      tags:
      - Sound effects
      summary: List SFX categories
      description: 'The sound effects categories endpoint allows you to get a list of all sound effects categories.


        You can then browse the sound effects catalog based on categories like "Applause" or "Crowds".


        Some sound effect categories have cover art that you can use in your interface. You can choose to display all categories, or choose type "featured" to only show the categories that are chosen by our curation team.'
      operationId: GET_Sound_Effect_Categories
      parameters:
      - name: type
        in: query
        description: Category type
        required: false
        schema:
          type: string
          enum:
          - all
          - featured
          default: all
      - $ref: '#/components/parameters/offset'
      - name: limit
        in: query
        description: Max number of entries returned in the response, default 50
        required: false
      responses:
        '200':
          description: Sound effects category list with related parent category. You can see the parent-child relationship in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SoundEffectCategoriesResponse'
              example:
                categories:
                - id: 00f328a4-3526-43de-9cd6-87a991e6f5ec
                  name: Applause
                  images:
                    default: https://image.url?w=300&h=300&fit=fill&q=90&fm=jpg
                    L: https://image.url?w=1050&h=1050&fit=fill&q=90&fm=jpg
[...]
